# VSCode
.vscode/*
!.vscode/extensions.json

# Jetbrains
.idea/*

# Environments
.venv

# Caches
.env
.mypy_cache
.ruff_cache

# Python
__pycache__/
*.egg-info/
*.egg
*.pkl

# CMake
cmake-build-*/

# Misc
target/
*.zip
